@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Home page</h1>
    <p><a href="https://learn.microsoft.com/aspnet/core">welcome to home page 1</a>.</p>
</div>
